* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.hide {display:none}

/*********** .clearfix **********/
/*
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*********** /.clearfix **********/

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

/* Schrifttypen und -groessen */


/* Grundformate */

p {
}


body {
}

a {
    text-decoration: underline;
    color: #0081c6;
}

#globalwrap {
    padding-bottom: 30px;
}


#pagewrap {
    position: relative;
    margin: auto;
}

#header {
}

#header-innerwrap {
}


.btn {
	display: block;
	width: 200px;
	text-align: center;
	margin: 1em 0;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}